# mac
.DS_Store

# node
node_modules

# python
__pycache__
.venv

# dev setup, only ignores them for our files that are exactly one dir deep
/*/pid
/*/log

# .env is used to set ENVIRONMENT=production by the start script on first-time run
.env
