[Unit]
Description=jobs.devinl.im API Service
After=network.target

[Service]
Type=simple
ExecStart=uv run fastapi run --host 0.0.0.0 {{ main_path }}
WorkingDirectory={{ project_root }}/api
User={{ user }}
Group={{ group }}
Environment="ENVIRONMENT=production"
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
