[Unit]
Description=Job Scraper Service
After=network.target

[Service]
Type=oneshot
ExecStart=uv run python {{ script_path }}
WorkingDirectory={{ project_root }}/scraper
User={{ user }}
Group={{ group }}
Environment="ANTHROPIC_API_KEY={{ anthropic_api_key }}"

[Install]
WantedBy=multi-user.target
